{% extends 'base.html' %}

{% block title %}
  {{ job.job_title }} - Job Portal
{% endblock %}

<!-- Page Container -->
{% block content %}
  <!-- Header -->
  <div class="bg-blue-600 text-white py-10">
    <div class="max-w-7xl mx-auto px-6">
      <h1 class="text-4xl font-bold">{{ job.job_title }}</h1> <!-- {{ dictionary_key.model_field }} -->
      <p class="mt-2 text-lg">{{ job.company_name }} | {{ job.job_location }}</p>
    </div>
  </div>

  <!-- Page Content -->
  <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Left Content -->
    <div class="lg:col-span-2 bg-white p-8 rounded-lg shadow">
      <h2 class="text-2xl font-semibold mb-4">Job Description</h2>
      <p class="text-gray-700 leading-relaxed mb-6">{{ job.job_description }}</p> 
    </div>

    <!-- Right Sidebar -->
    <div class="bg-white p-6 rounded-lg shadow space-y-5">
      <!-- Company Info -->
      <div class="flex items-center space-x-4">
        <div class="h-16 w-16 bg-gray-200 rounded flex items-center justify-center">
          <img src="{{ job.company_logo.url }}" alt="Company Logo" class="w-100% h-100% object-cover rounded-lg border" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{{ job.job_title }}</h3>
          <p class="text-sm text-gray-500">Software Company</p>
        </div>
      </div>

      <hr />

      <!-- Job Summary -->
      <div class="space-y-3 text-sm text-gray-700">
        <p>
          <strong>Job Type:</strong> {{ job.job_type }}
        </p>
        <p>
          <strong>Vacancy:</strong> {{ job.vacancy}}
        </p>
        <p>
          <strong>Job Category:</strong> {{ job.category}}
        </p>
        <p>
          <strong>Salary:</strong> ৳{{ job.salary }}
        </p>
        <p>
          <strong>Deadline:</strong> {{ job.deadline }}
        </p>
        <p>
          <strong>Location:</strong> {{ job.job_location }}
        </p>
      </div>

      <hr />

      <!-- Action Button -->
      <button class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold hover:bg-blue-700">Apply Now</button>
    </div>
  </div>
{% endblock %}
