<!-- Navbar -->
<nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-blue-600">JobPortal</h1>
        <ul class="flex space-x-6 font-medium">
            <li><a href= {% url 'home' %} class="hover:text-blue-600">Home</a></li>
            <li><a href= {% url 'add_job' %} class="hover:text-blue-600">Add Job</a></li>
            <li><a href="{% url 'all_job' %}" class="hover:text-blue-600">All Jobs</a></li>
            <li><a href="{% url 'browse_job' %}" class="hover:text-blue-600">Browse Jobs</a></li>
            <li><a href="#" class="hover:text-blue-600">About Us</a></li>
        </ul>
    </div>
</nav> 