<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        Job Portal
      {% endblock %}
    </title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body class="bg-gray-100">
    <!-- ===== NAVBAR ===== -->
    {% include 'includes/header.html' %}

    {% if messages %}
      {% for message in messages %}
        <script>
          Swal.fire({
            icon: '{{ message.tags }}',
            title: '{{ message }}',
            timer: 2000,
            showConfirmButton: false
          })
        </script>
      {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
  </body>
  {% include 'includes/footer.html' %}
</html>
