{% extends 'base.html' %}

{% block title %}
  Brows All job Card - Job Portal
{% endblock %}

{% block content %}
  <div class="bg-blue-600 text-white py-10 mb-10">
    <h1 class="text-4xl font-bold text-center">Browse Jobs</h1>
  </div>

  <div class="max-w-7xl mx-auto px-6 pb-16">
    <!-- GRID -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {% for job in jobs %}
        <!-- CARD -->
        <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition">
          <div class="h-16 w-16 mb-4 bg-gray-200 rounded flex items-center justify-center">
            <img src="{{ job.company_logo.url }}" alt="Company Logo" class="w-100% h-100% object-cover rounded-lg border" />
          </div>

          <h3 class="text-xl font-semibold">{{ job.job_title }}</h3>
          <p class="text-gray-600 text-sm">{{ job.company_name }}</p>

          <p class="text-gray-500 text-sm mt-1">{{ job.category }}</p>

          <p class="text-gray-700 text-sm mt-2">Vacancy: {{ job.vacancy }}</p>

          <p class="text-gray-700 text-sm">Salary: ৳{{ job.salary }}</p>

          <p class="text-red-500 text-sm mt-2">Deadline: {{ job.deadline }}</p>

          <div class="mt-4 flex justify-between items-center">
            <a href="{% url 'single_job_view' job.id %}" class="text-blue-600 font-semibold hover:underline">View Details</a>

            <span class="text-xs bg-green-100 text-green-700 px-2 py-1 rounded">{{ job.job_type }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}